@use './variables' as *;

// Typography Mixins
@mixin heading-1 {
  font-family: $font-family-primary;
  font-size: $text-4xl;
  font-weight: $font-weight-bold;
  line-height: $leading-tight;
  letter-spacing: -0.025em;
}

@mixin heading-2 {
  font-family: $font-family-primary;
  font-size: $text-3xl;
  font-weight: $font-weight-semibold;
  line-height: $leading-tight;
  letter-spacing: -0.025em;
}

@mixin heading-3 {
  font-family: $font-family-primary;
  font-size: $text-2xl;
  font-weight: $font-weight-semibold;
  line-height: $leading-snug;
}

@mixin heading-4 {
  font-family: $font-family-primary;
  font-size: $text-xl;
  font-weight: $font-weight-semibold;
  line-height: $leading-snug;
}

@mixin heading-5 {
  font-family: $font-family-primary;
  font-size: $text-lg;
  font-weight: $font-weight-medium;
  line-height: $leading-normal;
}

@mixin heading-6 {
  font-family: $font-family-primary;
  font-size: $text-base;
  font-weight: $font-weight-medium;
  line-height: $leading-normal;
}

@mixin body-large {
  font-family: $font-family-primary;
  font-size: $text-lg;
  font-weight: $font-weight-normal;
  line-height: $leading-relaxed;
}

@mixin body-medium {
  font-family: $font-family-primary;
  font-size: $text-base;
  font-weight: $font-weight-normal;
  line-height: $leading-normal;
}

@mixin body-small {
  font-family: $font-family-primary;
  font-size: $text-sm;
  font-weight: $font-weight-normal;
  line-height: $leading-normal;
}

@mixin caption {
  font-family: $font-family-primary;
  font-size: $text-xs;
  font-weight: $font-weight-normal;
  line-height: $leading-normal;
}

@mixin button-text {
  font-family: $font-family-primary;
  font-size: $text-sm;
  font-weight: $font-weight-medium;
  line-height: $leading-none;
  letter-spacing: 0.025em;
}

@mixin input-text {
  font-family: $font-family-primary;
  font-size: $text-base;
  font-weight: $font-weight-normal;
  line-height: $leading-normal;
}

// Typography Classes
.heading-1 {
  @include heading-1;
}

.heading-2 {
  @include heading-2;
}

.heading-3 {
  @include heading-3;
}

.heading-4 {
  @include heading-4;
}

.heading-5 {
  @include heading-5;
}

.heading-6 {
  @include heading-6;
}

.body-large {
  @include body-large;
}

.body-medium {
  @include body-medium;
}

.body-small {
  @include body-small;
}

.caption {
  @include caption;
}

.button-text {
  @include button-text;
}

.input-text {
  @include input-text;
} 