@use '@/app/styles/variables' as *;

// TODO: Estilos para el contenido completo del profile card
// TODO: profileCard container con glassmorphism, border-radius, padding
// TODO: contentSection con padding
// TODO: bio con estilos de texto
// TODO: divider
// TODO: Tema dark mode

.profileCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px;
  border-radius: 24px;
  border: 1px solid $color-border-subtle;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: white;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  :global(body.dark) & {
    background: rgb(26 26 26);
    border-color: rgb(26 26 26);
    box-shadow: none !important;
  }
}

.contentSection {
  padding: 0 32px 32px 32px;
  width: 100%;
}

.bio {
  text-align: start;
  font-size: 14px;
  line-height: 1.5;
  color: $color-text-secondary;

  :global(body.dark) & {
    color: $color-text-dark-secondary;
  }
}

.divider {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  border-radius: 999px;
  background: $color-border-light;

  :global(body.dark) & {
    background: $color-border-dark;
  }
}
