@use '@/app/styles/variables' as *;



.profileCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0px;
  -webkit-backdrop-filter: blur(20px);
  background: white;
  overflow: hidden;

  :global(body.dark) & {
     background: #171717;
  }
}


.bio {
  text-align: start;
  font-size: 14px;
  line-height: 1.5;
  color: $color-text-secondary;

  :global(body.dark) & {
    color: $color-text-dark-secondary;
  }
}

.divider {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  border-radius: 999px;
  background: $color-border-light;

  :global(body.dark) & {
    background: $color-border-dark;
  }
}
