@use '@/app/styles/variables' as *;

.textShimmer {
  position: relative;
  display: inline-block;
  background-size: 250% 100%, auto;
  background-clip: text;
  color: transparent;
  font-family: $font-family-primary;
  --base-color: #{$blue-600};
  --base-gradient-color: #bfdbfe;
  --bg: linear-gradient(90deg, #0000 calc(50% - var(--spread)), var(--base-gradient-color), #0000 calc(50% + var(--spread)));
  background-repeat: no-repeat, padding-box;

  // Dark mode
  :global(body.dark) & {
    --base-color: #1d4ed8;
    --base-gradient-color: #{$blue-400};
    --bg: linear-gradient(90deg, #0000 calc(50% - var(--spread)), var(--base-gradient-color), #0000 calc(50% + var(--spread)));
  }

  // Background image compuesta
  background-image: var(--bg), linear-gradient(var(--base-color), var(--base-color));
}
