// src/app/globals.scss
@use './styles/variables' as *;
@use './styles/reset';
@use './styles/base';
@use './styles/typography';
@use './styles/typography-utils';

* {
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* app/globals.css */

:root {
  --primary: #4CAF50;
  --background: #FFFFFF;
  --foreground: #121212;
  --border: #D1D5DB;
  --radius: 0.5rem;
}

[data-theme='dark'] {
  --background: #1F2937;
  --foreground: #F9FAFB;
  --border: #4B5563;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --background: #000000;
  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;
  --button-bg: transparent;
  --button-bg-active: #333333;
  --button-bg-hover: #444444;
  --header-bg: #ffffff;
}

.grecaptcha-badge {
  display: none !important;
}

body {
  margin: 0;
  font-family: $font-family-primary;
  font-weight: $font-weight-normal;
  font-size: $text-base;
  line-height: $leading-normal;
  background: var(--background);
  color: var(--text-primary);
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('https://storage.googleapis.com/aurin-plattform/assets/noiseTexture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; 
    backdrop-filter: blur(20px) saturate(160%);
    -webkit-backdrop-filter: blur(20px) saturate(160%);
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
  }

  &.dark::before {
    display: none; // eliminamos la imagen en modo oscuro
  }
}

.vignetteTop,
.vignetteBottom {
  position: fixed;
  left: 0;
  width: 100%;
  height: 166px;
  pointer-events: none;
  z-index: 2000;
}

.vignetteTop {
  top: 0;
  box-shadow:
    inset 0px -5px 8px rgba(0, 0, 0, 0.05),
    inset 0px -14px 14px rgba(0, 0, 0, 0.04),
    inset 0px -32px 19px rgba(0, 0, 0, 0.02),
    inset 0px -56px 22px rgba(0, 0, 0, 0.01),
    inset 0px -88px 26px rgba(0, 0, 0, 0.00);
}

.vignetteBottom {
  bottom: 0;
  box-shadow:
    inset 0px 5px 8px rgba(0, 0, 0, 0.05),
    inset 0px 14px 14px rgba(0, 0, 0, 0.04),
    inset 0px 32px 19px rgba(0, 0, 0, 0.02),
    inset 0px 56px 22px rgba(0, 0, 0, 0.01),
    inset 0px 88px 26px rgba(0, 0, 0, 0.00);
}

/* From lenis.css (simplified) */
[data-lenis-root] {
  overflow: hidden;
}

[data-lenis-prevent] {
  overscroll-behavior: contain;
}

.swiperPagination {
  :global {
    .swiper-pagination-bullets {
      bottom: 0 !important;
    }
    .swiper-pagination-bullet {
      background: #859ba8;
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
      background: #178d00;
      opacity: 1;
    }
  }
}

@media (max-width: 767px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}