@use '@/app/styles/variables' as *;

.dialogContent {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  padding: 0;
  gap: 0;
  border: none !important;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  @media (min-width: 768px) {
    max-width: 60vw;
  }

  :global(.dark) & {
    background: #1a1a1a;
    color: #e5e5e5;
    border: solid #181818 !important;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
  }
}

.dialogInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  height: 100%;
}

.content {
  flex: 1;
  min-height: 0;
}
