@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  padding: 25px;
  background: #000000ea;
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 12px 0 0 12px;
  border: 1px solid #242428;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3000;
  transform: translateX(100%);
  box-shadow:
    -5px 1px 11px rgba(0, 0, 0, 0.10),
    -19px 3px 19px rgba(0, 0, 0, 0.09),
    -43px 7px 26px rgba(0, 0, 0, 0.05),
    -76px 12px 31px rgba(0, 0, 0, 0.01),
    -118px 19px 34px rgba(0, 0, 0, 0.00);

}

.open {
  transform: translateX(0);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowLeft, .ellipsis {
  cursor: pointer;
  filter: invert(100) brightness(100);
}

.title {
  color: #FAFAFA;
  font-size: 16px; // 16px * 1.2
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
}

.subtitle {
  color: #A1A1AA;
  font-size: 14px; // 12px * 1.2
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}

.chat {
  flex: 1;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.message {
  display: flex;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
}

.messageContent {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.sender {
  color: #E5E5E5;
  font-size: 14.4px; // 12px * 1.2
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.text {
  color: #FAFAFA;
  font-size: 14.4px; // 12px * 1.2
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
}

.inputWrapper {
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  background: #1F1F20;
  padding: 19px;
  border-radius: 10px;
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-size: 14px; 
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  opacity: 0.8;
}

.input:focus {
  outline: none;
}

.sendButton {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    justify-content: center;
    width: 40px;
    background: white;
    border-radius: 100px;
    border: none;
    cursor: pointer;
  }
  
