@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.badge {
  display: block;
  width: 90px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  
  @media (min-width: 640px) {
    width: 130px;
  }
}

.badgeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badgeSvg {
  width: 90px;
  height: auto;
  
  @media (min-width: 640px) {
    width: 130px;
  }
} 