@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.badge {
  display: block;
  width: 90px;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  
  @media (min-width: 640px) {
    width: 130px;
  }
}

.badgeContainer {
  transform-origin: center center;
  transition: transform 200ms ease-out;
}

.badgeSvg {
  width: 90px;
  height: auto;
  
  @media (min-width: 640px) {
    width: 130px;
  }
}

// Animaciones de overlay
@keyframes overlayAnimation1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes overlayAnimation2 {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes overlayAnimation3 {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes overlayAnimation4 {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes overlayAnimation5 {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@keyframes overlayAnimation6 {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

@keyframes overlayAnimation7 {
  0% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes overlayAnimation8 {
  0% {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

@keyframes overlayAnimation9 {
  0% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(80deg);
  }
}

@keyframes overlayAnimation10 {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(90deg);
  }
} 