@import "@/app/styles/_variables.scss";

.notifications-container {
  width: 330px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  width: 330px;
  height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #ef44443a;
}

.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef444448;
  border-radius: 50%;
  margin-left: 8px;
}

.icon {
  width: 17px;
  height: 17px;
  color: #dc2626;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}

.message-text {
  color: #dc2626;
  font-size: 17px;
  font-weight: bold;
}

.sub-text {
  font-size: 14px;
  color: #555;
}

.error-details {
  font-size: 12px;
  color: #991b1b;
  margin-top: 2px;
}

.audio-error {
  color: #dc2626;
  font-size: 11px;
  margin-top: 4px;
}

.button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  gap: 0.75rem;
}

.action-button {
  padding: 0.375rem 0.5rem;
  background-color: #fef2f2;
  color: #991b1b; // rgb(153, 27, 27)
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fee2e2;
  }
}

.dismiss-button {
  padding: 0.375rem 0.5rem;
  background-color: #fef2f2;
  color: #991b1b; // rgb(153, 27, 27)
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fee2e2;
  }
}