.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 25px;
    background: #000000ea;
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px 0 0 12px;
    display: flex;
    flex-direction: column;
    z-index: 3000;
    transform: translateX(100%);
  }
  
  :global(body.dark) .container {
    background: #1f1f20;
  }
  
  .open {
    transform: translateX(0);
  }
  
  .header {
    border-bottom: 1px solid #444546;
  }
  
  .controls {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .arrowLeft {
    cursor: pointer;
    filter: invert(100%) brightness(100%);
  }
  
  .title {
    color: #fafafa;
    font-size: 19.2px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .content {
    flex: 1;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .avatar {
    border-radius: 50%;
  }
  
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .label {
    color: #e5e5e5;
    font-size: 14px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
  }
  
  .value {
    color: #d1d1d1;
    font-size: 14.4px;
    font-family: 'Inter Tight', sans-serif;
    background: #2d2d2d;
    padding: 8px 12px;
    border-radius: 4px;
  }