// src/components/Selector.module.scss
.menubar {
    width: auto;
    padding: 2px 5px;
    background: white;
    border-radius: 6px;
    border: 1px solid #E4E4E7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    &.dark {
      background: #1A1A1A;
      border-color: #333333;
    }
  }
  
  .wrapper {
    padding-left: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
  }
  
  .menuItem {
    padding: 6px 12px;
    border-radius: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F5 !important;
    gap: 10px;
    display: flex;
    border: none;
    cursor: pointer;
  
    &.active {
      background: #F4F4F5;
    }
  
    &.dark {
      &.active {
        background: #F4F4F5;
      }
    }
  }
  
  .text {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
  }
  
  .tareas,
  .proyectos,
  .cuentas,
  .miembros {
    color: white;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
  
    &.dark {
      color: #D1D1D1;
    }
  }