.notifications_container {
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 10002 !important;
  pointer-events: auto;
  background-color: transparent;
}

.flex {
  display: flex;
}

.flex_shrink_0 {
  flex-shrink: 0;
}

.success {
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(240, 253, 244);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(74, 222, 128);
}

.succes_svg {
  color: rgb(74, 222, 128);
  width: 1.25rem;
  height: 1.25rem;
}

.profile_prompt_wrap {
  margin-left: 0.75rem;
}

.profile_prompt_heading {
  font-weight: bold;
  color: rgb(22, 101, 52);
}

.profile_prompt_prompt {
  margin-top: 0.5rem;
  color: rgb(21, 128, 61);
}

.profile_button_container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.profile_button_main {
  padding: 0.375rem 0.5rem;
  background-color: #ECFDF5;
  color: rgb(22, 101, 52);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #D1FAE5;
  }
}

.profile_button_secondary {
  padding: 0.375rem 0.5rem;
  margin-left: 0.75rem;
  background-color: #ECFDF5;
  color: #065F46;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #D1FAE5;
  }
}