@import "@/app/styles/_variables.scss";

.notifications-container {
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.toast {
  &.success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: #f0fdf4; // rgb(240 253 244)
    @include neu-surface($white, 4, 12px);
    border: 1px solid #86efac;
  }
}

.success-svg {
  color: #4ade80; // rgb(74 222 128)
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: #166534; // rgb(22 101 52)
  font-size: 14px;
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: #15803d; // rgb(21 128 61)
  font-size: 12px;
}

.audio-error {
  color: #dc2626;
  font-size: 11px;
  margin-top: 4px;
}

.success-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  gap: 0.75rem;
}

.success-button-main {
  padding: 0.375rem 0.5rem;
  background-color: #ecfdf5;
  color: #166534; // rgb(22 101 52)
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #d1fae5;
  }
}

.success-button-secondary {
  padding: 0.375rem 0.5rem;
  background-color: #ecfdf5;
  color: #065f46;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #d1fae5;
  }
}