@import "@/app/styles/_variables.scss";

.toast {
  @include neu-surface($white, 4, 12px);
  padding: 16px;
  color: $black;
  font-family: 'Urbanist', sans-serif;
  max-width: 400px;
  display: flex;
  align-items: flex-start;
  background-color: lighten($green-500, 30%);
  border: 1px solid $green-500;
  z-index: 10002;
}

.icon {
  flex-shrink: 0;
  margin-right: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: darken($green-500, 20%);
}

.description {
  font-size: 12px;
  color: darken($green-500, 10%);
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.buttonMain {
  padding: 6px 12px;
  background-color: #f2fdf5;
  color: #306339;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.buttonMain:hover {
  background-color: lighten($green-500, 30%);
}

.buttonSecondary {
  padding: 6px 12px;
  background-color: lighten($green-500, 40%);
  color: darken($green-500, 30%);
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.buttonSecondary:hover {
  background-color: lighten($green-500, 30%);
}