.tableContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  
}

.emptyStateTitle {
  padding-top: 20px ;
  color: #3f3f46;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

:global(body.dark) .emptyStateTitle {
  color: #ffffffbb;

}

.emptyStateSubtitle{
  color: #6b7280;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: center;

}

:global(body.dark) .emptyStateSubtitle {
  color: #ffffffbb;

}

.emptyState{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;
  align-items: center;
}

.table {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.04),
    0px 7px 7px rgba(0, 0, 0, 0.03),
    0px 15px 9px rgba(0, 0, 0, 0.02),
    0px 27px 11px rgba(0, 0, 0, 0.01),
    0px 42px 12px rgba(0, 0, 0, 0.00);
}


:global(body.dark) .table {
  background: #1a1a1a;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  border-bottom: 1px solid #e4e4e7;
}

:global(body.dark) .header {
  border-bottom: 1px solid #555555;
}

.headerCell {
  padding: 12px 24px;
  color: #3f3f46;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.headerCell.sortable {
  cursor: pointer;
}

:global(body.dark) .headerCell {
  color: #a1a1aa;
}

.sortIndicator {
  font-size: 12px;
}

.row {
  display: flex;
  border-bottom: 1px solid #f4f4f5;
}

.row:last-child {
  border-bottom: none;
}

:global(body.dark) .row {
  border-bottom: 1px solid #3f3f46;
}

.cell {
  padding: 14px 24px;
  color: #18181b;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

:global(body.dark) .cell {
  color: #d1d1d1;
}

.actionCell {
  position: relative; /* Contenedor relativo para el botón de acción */
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Posicionamiento absoluto */
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1000; /* Alta prioridad para estar por encima */
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.actionButton:hover {
  background-color: #f4f4f5; /* Hover sutil */
}

:global(body.dark) .actionButton:hover {
  background-color: #272727;
}

.actionButton img {
  filter: none;
}

:global(body.dark) .actionButton img {
  filter: invert(1) grayscale(1) brightness(1.5);
}

.hideOnMobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 8px;
  justify-content: flex-end;
}

.paginationButton {
  width: 32px;
  height: 32px;
  padding: 8px;
  background: white;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.paginationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationButton:not(:disabled):hover {
  background-color: #f4f4f5;
}

.paginationButton img {
  filter: none;
}

:global(body.dark) .paginationButton {
  background: #0d0d0d;
  border-color: #555555;
}

:global(body.dark) .paginationButton:not(:disabled):hover {
  background-color: #272727;
}

:global(body.dark) .paginationButton img {
  filter: invert(1) grayscale(1) brightness(1.5);
}

.pageInfo {
  color: #3f3f46;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 0 8px;
}

:global(body.dark) .pageInfo {
  color: #a1a1aa;
}