.container {
  padding: 1.3rem 0px;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;

  &.dark {
    background: #1A1A1A;
  }
}

.selector {
  margin: 1.3rem 0rem;
}

.content {
  color: #0D0D0D;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  &.dark {
    color: #D1D1D1;
  }
}

.internal{
  height: 2.75rem;
  width: 2.75rem;
}

// Viñetado superior
.vignetteTop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%, // Blanco semi-opaco en la parte superior
    rgba(255, 255, 255, 0) 100% // Transparente hacia abajo
  );
  pointer-events: none; // Permite clics a través del viñetado
  z-index: 10; // Asegura que esté por encima del contenido, pero debajo de popups
}

:global(.dark) .vignetteBottom,  
:global(.dark) .vignetteTop {
      background: linear-gradient(
        to bottom,
        rgba(2, 2, 2, 0.087) 0%, // Blanco semi-opaco en la parte superior
        rgba(255, 255, 255, 0) 100% // Transparente hacia abajo
      );
}

// Viñetado inferior
.vignetteBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; // Ajusta la altura según el efecto deseado
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8) 0%, // Blanco semi-opaco en la parte inferior
    rgba(255, 255, 255, 0) 100% // Transparente hacia arriba
  );
  pointer-events: none; // Permite clics a través del viñetado
  z-index: 10; // Asegura que esté por encima del contenido, pero debajo de popups
}
.cursorIcon {
  width: 24px;
  height: 24px;
  color: #d3e048;
}

.cursorFollowContent {
  background-color: #d3e048;
  color: #202020;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
