.container {
  padding: 1.3rem;
  max-width: 1200px;
  margin: 0 auto;

  &.dark {
    background: #1A1A1A;
  }
}

.selector {
  margin: 1.3rem 0rem;
}

.content {
  color: #0D0D0D;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  &.dark {
    color: #D1D1D1;
  }
}

.internal{
  height: 2.75rem;
  width: 2.75rem;
}