@use '@/app/styles/variables' as *;

/* Información de Contacto */
.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
  padding: 16px 0px;
  border-radius: 12px;
  background: white;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid $color-border-subtle;

  :global(body.dark) & {
    background: rgb(26 26 26);
    border-color: rgb(26 26 26);
  }
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.contactLabel {
  font-weight: 600;
  color: $color-text-secondary;
  min-width: 120px;

  :global(body.dark) & {
    color: $color-text-dark-secondary;
  }
}

.contactValue {
  color: $color-text-primary;
  font-weight: 500;

  :global(body.dark) & {
    color: $color-text-dark-primary;
  }
}
