@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

// Estilos de ProfileSection
.socialLinksGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.socialLinkField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  .label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
  }
}
