.inputWrapper {
  width: fit-content;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color: #292524;
  position: relative;
  margin-top: 10px;
}

.icon {
  width: 30px;
  fill: rgb(255, 255, 255);
  margin-left: 8px;
  transition: all 0.3s;
}

.input {
  max-width: 170px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #292524;
  color: white;
  font-size: 1em;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
    -webkit-text-fill-color: #ffffff;
  }
}

.SubscribeBtn {
  height: 100%;
  width: 45px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: #555;
  }

  &:active {
    transform: scale(0.9);
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 5px;
  background-color: #292524;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  margin-top: 5px;
  min-width: 120px;
}

.dropdownItem {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    background-color: #3a3635;
  }
}

.inputWrapper:active .icon {
  transform: scale(1.3);
}
