@use '../../app/styles/_mixins.scss' as *;

.bgPattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

// Mask classes for different fade effects
.fadeEdges {
  mask-image: radial-gradient(ellipse at center, black 20%, transparent 70%);
  -webkit-mask-image: radial-gradient(ellipse at center, black 20%, transparent 70%);
}

.fadeCenter {
  mask-image: radial-gradient(ellipse at center, transparent 20%, black 70%);
  -webkit-mask-image: radial-gradient(ellipse at center, transparent 20%, black 70%);
}

.fadeTop {
  mask-image: linear-gradient(to bottom, transparent 0%, black 30%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%);
}

.fadeBottom {
  mask-image: linear-gradient(to top, transparent 0%, black 30%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
}

.fadeLeft {
  mask-image: linear-gradient(to right, transparent 0%, black 30%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 30%);
}

.fadeRight {
  mask-image: linear-gradient(to left, transparent 0%, black 30%);
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 30%);
}

.fadeX {
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}

.fadeY {
  mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
}

.none {
  mask-image: none;
  -webkit-mask-image: none;
}
