.wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  
    &.dark {
      background-color: #1A1A1A;
    }
  }
  
  .frame14 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .title {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
  
    .welcome {
      color: #0D0D0D;
      font-size: 32px;
      font-family: 'Urbanist', sans-serif;
      font-weight: 700;
      word-wrap: break-word;
  
      &.dark {
        color: #FFFFFF;
      }
    }
  }
  
  .text {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
  
    .subtitle {
      color: #71717A;
      font-size: 20px;
      font-family: 'Urbanist', sans-serif;
      font-weight: 400;
      word-wrap: break-word;
  
      &.dark {
        color: #A1A1AA;
      }
    }
  }
  
  .frame2147225819 {
    width: 472.5px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  
  .sunMoon {
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
  
    img {
      width: 32.5px;
      height: 32.5px;
      position: absolute;
      left: 1.75px;
      top: 1.75px;
    }
  }