.wrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;


}

.frame14 {
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: flex-start;
  display: inline-flex;
}

.title {
  justify-content: center;
  align-items: center;
  color: black;
  gap: 10px;
  display: inline-flex;

  .welcome {
    color: #0D0D0D;
    font-size: 32px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    word-wrap: break-word;

    :global(.dark) & {
      color: #ffffff;
    }
  }
}

.text {
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;

  .subtitle {
    color: #71717A;
    font-size: 20px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    word-wrap: break-word;

    :global(.dark) & {
      color: #A1A1AA;
    }
  }
}

.frame2147225819 {
  width: 472.5px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  display: flex;
}

.sunMoonWrapper {
  width: 32px;
  height: 32px;
  
  position: relative;
  overflow: visible;
  transform-origin: center;

  :global(svg) {
    transition: transform 0.4s ease-in;
  }

  &:hover :global(svg) {
    transform: scale(1.4) rotate(20deg);
  }

  :global(.dark) & {
    filter: brightness(1000%) saturate(0) invert(100) contrast(100);
  }
}

.typewriterChar {
  display: inline-block;
  opacity: 0;
}