@use '../../app/styles/_mixins.scss' as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;

  // Hidden by default (light mode)
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  // Keep hidden in dark mode
  :global(.dark) & {
    opacity: 0;
    visibility: hidden;
  }
}
