@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(241, 245, 249, 0.7);
  font-size: 14px;
  font-family: 'Urbanist', sans-serif;
  box-shadow:
    -4px -4px 8px rgba(255, 255, 255, 0.5),
    4px 4px 8px rgba(0, 0, 0, 0.05),
    inset -2px -2px 4px rgba(255, 255, 255, 0.3),
    inset 2px 2px 4px rgba(209, 217, 230, 0.2);

  &:disabled {
    background: rgba(241, 245, 249, 1);
    opacity: 0.6;
  }

  :global(body.dark) & {
    background: rgba(39, 39, 42, 0.7);
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
  }
}

.readOnly {
  background: rgba(241, 245, 249, 0.6) !important;
  cursor: text !important;
  opacity: 0.7;

  :global(body.dark) & {
    background: rgba(39, 39, 42, 0.6) !important;
  }
}
