@import "@/app/styles/_variables.scss";

.toast {
  @include neu-surface($white, 4, 12px);
  padding: 16px;
  color: $black;
  font-family: 'Urbanist', sans-serif;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10002;
}

.toast.error {
  background: lighten($red-500, 30%);
}

.toast.success {
  background: #f2fdf5;
}

.toast.info {
  background: lighten($blue-500, 30%);
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.description {
  font-size: 12px;
  color: $zinc-500;
}